# Python
__pycache__/
*.py[cod]
*.class
.Python
venv/
env/
.venv

# Environment Variables - JANGAN UPLOAD!
.env
.env.local
*.env
ml_service/.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Railway
.railway/
